
#open_close{
	cursor: pointer;
	display: block;
	text-decoration: none;
	line-height: 1;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	letter-spacing: 0.4px;
	color: #dedede;
	padding: 0;
	font-weight: bold;
	line-height: 3;
}
#login{
	width: 200px;
	height: 140px;
	background-color: orange;
	border-radius: 2px;
	padding: 10px;
	color: #fff;
		
}
#enviar{
	border: none;
	border-radius: 5px;
	margin: 15px;
	margin: 15px 82px;
	width: 70px;
}